

@font-face {
font-family: 'GT America';
  font-style: 400;
  font-weight: normal;
  src: url(https://raw.githubusercontent.com/jacktmurphy/mashappemails/main/gt-america-regular-webfont.woff2) format('woff2');
}

@font-face {
font-family: 'GT America';
  font-style: 700;
  font-weight: normal;
  src: url(https://raw.githubusercontent.com/jacktmurphy/mashappemails/main/gt-america-medium-webfont.woff2) format('woff2');
}



