
@font-face {
font-family: 'GT America Extended';
  font-style: normal;
  font-weight: 700;
  src: url(https://raw.githubusercontent.com/jacktmurphy/mashappemails/main/gt-america-extended-bold-webfont.woff2) format('woff2-variations');
}

